/* rem and em do not depend on html font-size in media queries! Instead, 1rem = 1em = 16px*/

/* ********************** */
/* BELOW 1632px (Medium desktops) */
/* ********************** */



/* ********************** */
/* BELOW 1376px (Smaller desktops) */
/* ********************** */




/* ********************** */
/* BELOW 1136x (Smaller desktops) */
/* ********************** */




/* ********************** */
/* BELOW 928px (Smaller desktops) */
/* ********************** */




/* ********************** */
/* BELOW 704px (Smaller Tablets) */
/* ********************** */




/* ********************** */
/* BELOW 500px (Mobile Devices) */
/* ********************** */
@media(max-width: 500px){
    /* ////////// GENERAL ////////// */
    .section-box{
        padding: 40px 20px 30px;
    }

    .subheading-container{
        padding: 0;
    }

    
    .subheading{
        font-size: 1.4rem;
    }
    
    .subheading-description{
        font-size: 1.2rem;
    }

    .vertical-line-box{
        padding: 3px 0 3px 15px;
    }

    /* ////////// SECTION MAIN ////////// */
    .section-main-container{
        flex-direction: column;
        width: 100vw;

        position: relative;
    }

    .left-box{
        width: 100%;
        height: 40%;
        padding: 20px 20px 0;
    }

    .main-section-title{
        font-size: 4rem;
        margin-top: 30px;
        text-align: center;
    }

    .main-section-btn{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .right-box{
        width: 100%;
        height: 60%;
    }

    .right-box-img{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .main-img{
        width: 105%;
        height: auto;
    }


    /* ////////// SECTION ABOUT ////////// */

    .section-description{
        padding-bottom: 40px;
        font-size: 1.4rem;
    }

    .description-container{
        margin: 0;
    }

    .section-usage-container .subheading-container{
        padding: 0;
    }


    /* ////////// SECTION USAGE ////////// */

    .usage-icon-container{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);

        row-gap: 20px;
        padding: 30px 0 10px;
    }

    .icon-and-subject-box{
        gap: 5px;
    }


    /* ////////// SECTION FUNCTION ////////// */

    .function-box-first{
        flex-direction: column;
    }

    .function-container-first{
        padding: 20px;
    }

    .function-box-first .subheading-container {
        padding: 0;
        width: 100%;
    }

    .img-function-container{
        margin: 20px 0 0;
    }

    .function-container-second{
        padding: 0 20px;
    }



    /* ////////// SECTION BENEFIT ////////// */

    .benefits-container{
        display: flex;
        flex-direction: column;
    }


    /* ////////// SECTION PRICE ////////// */
    
    .section-price-container{
        width: 100%;
    }
    
    .price-outside-container{
        width: 100%;
        flex-direction: column;
    }

    .price-container{
        width: 100%;
    }
}


/* ********************** */
/* BELOW 410px (Small Mobile Devices) */
/* ********************** */
@media(max-width: 410px){
    /* ////////// GENERAL ////////// */
    .subheading{
        font-size: 1.2rem;
    }

    .subheading-description{
        font-size: 1rem;
    }

    /* ////////// SECTION MAIN ////////// */

    .main-section-title{
        margin-top: 60px;
    }

    .right-box-img{
        align-items: start;
    }

    /* ////////// SECTION ABOUT ////////// */

    .section-description{
        font-size: 1.2rem;
    }

    /* ////////// SECTION USAGE ////////// */


    .btn-subject{
        width: 140px;
    }

}