@import url('general.css');
/* ////////// SECTION MAIN ////////// */

.section-main{
    height: 100vh;

}

.section-main-container{
    background-color:var(--bg-color-dark-grey);
    color: var(--color-white);
    overflow: hidden;
    flex-direction: row;
}

.left-box{
    height: 100%;
    width: 30%;
    padding-top: 50px;
    padding-left: 60px;

}

.title-with-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-section-title{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    font-size: 8rem;
    font-weight: 700;
}

.main-section-btn{
    margin-top: 50px;
}

.btn-nextView{
    padding: 6px 90px;
    background-color: var(--color-yellow);
    color: #182527;
    font-size: 2.1rem;
}

.vertical-line-box{
    font-size: 1.9rem;
    padding: 3px 15px;
    border-left: 3px solid var(--color-yellow);
}

.right-box{
    /* border: 1px solid green; */
    width: 70%;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box-img{
    height: 130%;
}

.main-img{
    height: 100%;
}

/* ////////// SECTION ABOUT ////////// */

.section-about{
    background-color: var(--color-white);
}

.section-about-container{
    font-size: 1.6rem;

    padding: 80px 160px 60px;
}

.section-description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 60px;
}

.img-about-container{
    max-width: 1400px;
}

.about-img{
    width: 100%;
}

/* ////////// SECTION USAGE ////////// */

.section-usage-container{
    background-color: var(--color-yellow);
}

.description-container{
    background-color: var(--bg-color-light-creamy);
    max-width: 1400px;

    border-radius: var(--r-box);
    padding: 20px;
    margin: 0 40px 40px;
}

.section-usage-container .subheading-container{
    padding: 30px 0 20px 60px;
}

.subheading-description{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px 0;
}

.usage-icon-container{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    /* padding: 0 40px; */
}

.icon-and-subject-box{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon-box{
    /* background-color: #fff; */
    border-radius: var(--r-circle);
    /* border: 3px solid var(--border-color-dark-yellow); */
    max-width: 150px;
    /* height: 80px; */
}

.icon{
    width: 100%;
    height: auto;
}

.btn-subject{
    color: var(--color-white);
    background-color: var(--bg-color-medium-grey);
    width: 170px;
    height: 30px;
    font-size: 1.4rem;
    text-align: center;
}

/* ////////// SECTION FUNCTION ////////// */

.section-function{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.functions-container{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.function-container-first{
    border-radius: var(--r-box);
    background-color: var(--bg-color-light-creamy);
    padding: 40px;
}

.function-box-first{
    width: 100%;
    display: flex;
}

.function-box-first .subheading-container{
    padding: 20px 40px;
    width: 60%;
}

.img-function-container{
    margin: 20px;
}

.function-container-second{
    padding: 0 40px 0 80px;
}

.function-box-second{
    background-color: var(--color-white);
}

/* ////////// SECTION BENEFIT ////////// */

.section-benefit-container{
    background-color: var(--bg-color-dark-grey);
}

.benefits-container{
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 40px;
    column-gap: 50px;
}

.benefit-box{
    background-color: var(--bg-color-medium-grey);
    border-radius: var(--r-box);
    padding: 30px;
}

.benefit-box .subheading-description{
    color: var(--color-white);
}

/* ////////// SECTION INTEGRATION ////////// */

.section-integration{
    background-color: var(--bg-color-light-creamy);
}

.integration-container{
    display: flex;
    max-width: 1400px;
    gap: 40px;
}

.integration-container .subheading-container{
    border-radius: var(--r-box);
    background-color: var(--color-white);
    padding: 60px 80px ;
}

/* ////////// SECTION APPOINTMENT ////////// */

.section-appointment{
    background-color: var(--color-yellow);
}

.section-appointment .subheading-container{
    padding: 30px 0 0 60px ;
}

.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
 
.section-appointment .description-container{
    margin: 0 40px;
}


.appointment-section-btn{
    margin-top: 30px;
    text-align: center;
}

/* ////////// SECTION FAQ ////////// */

.faq-container{
    display: flex;
    max-width: 1400px;
    gap: 40px;
}

.img-faq-container{
    width: 40%;
}

.faq-img{
    width: 100%;
}

.faq-subheading-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:25px;
    justify-content: center;
}

.faq-container .subheading-container{
    background-color: var(--bg-color-light-grey);
    padding: 15px 20px;
    border-radius: var(--r-box);
    cursor: pointer;

    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: height .2s;
}

.faq-desc{
    display: none;
}

.faq-subheading-container .subheading-container:hover {
    height: 150px;
    justify-content: start;
}

.faq-subheading-container .subheading-container:hover .faq-desc{
    display: flex;
}

.faq-container .active-container{
    height: 150px;
    justify-content: start;
}

.active-faq{
    display: flex;
    opacity: 1;
}

/* ////////// SECTION PRICE ////////// */

.section-price{
    background-color: var(--bg-color-dark-grey);
}

.price-outside-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 40px;
}

.price-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-info{
    background-color: var(--bg-color-medium-grey);
    border-radius: var(--r-box);
    padding: 30px;
    color: var(--color-white);
    font-size: 1.4rem;
    height: 250px;
}

.price-list-box{
    padding: 5px 0 0 40px;
}

.option{
    padding: 0 0 5px 0;
}

.price-sub-list-box{
    padding: 0 0 0 20px;
}

.price-box{
    background-color: var(--bg-color-light-grey);
    border-radius: var(--r-box);
    padding: 10px 30px;
}

/* ////////// SECTION CONTACT ////////// */

.section-contact{
    background-color: var(--color-yellow);
    height: 100vh;
    overflow: hidden;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.contact-form-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-container .title{
    font-size: 8rem;
}

.contact-data-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-data{
    background-color: var(--bg-color-medium-grey);
    border-radius: var(--r-box);
    color: var(--color-yellow);
    padding: 10px 50px;
    text-align: center;
    font-size: 1.4rem;
}

.contact-img-container{
    width: 60%;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img{
    width: 130%;
}


