@import url('general.css');
/* ////////// SECTION MAIN ////////// */

.section-main{
    height: 100vh;

}

.section-main-container{
    background-color:var(--bg-color-dark-grey);
    color: var(--color-white);
    overflow: hidden;
    flex-direction: row;
}

.left-box{
    height: 100%;
    width: 30%;
    padding-top: 50px;
    padding-left: 60px;

}

.title-with-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-section-title{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    font-size: 8rem;
    font-weight: 700;
}

.main-section-btn{
    margin-top: 50px;
}

.btn-nextView{
    padding: 6px 90px;
    background-color: var(--color-yellow);
    color: #182527;
    font-size: 2.1rem;
}

.vertical-line-box{
    font-size: 1.9rem;
    padding: 3px 15px;
    border-left: 3px solid var(--color-yellow);
}

.right-box{
    /* border: 1px solid green; */
    width: 70%;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box-img{
    height: 130%;
}

.img-about-container{
    max-width: 1400px;
}

.main-img{
    height: 100%;
}

/* ////////// SECTION ABOUT ////////// */

.section-about{
    background-color: var(--color-white);
}

.section-about-container{
    font-size: 1.6rem;

    padding: 80px 160px 60px;
}

.section-description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 60px;
}

.about-img{
    width: 100%;
}

/* ////////// SECTION USAGE ////////// */

.section-usage-container{
    background-color: var(--color-yellow);
}

.description-container{
    background-color: var(--bg-color-light-creamy);
    max-width: 1400px;

    border-radius: var(--r-box);
    padding: 20px;
    margin: 0 40px 40px;
}

.subheading-description{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px 0;
}

.usage-icon-container{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    /* padding: 0 40px; */
}

.icon-and-subject-box{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon-box{
    /* background-color: #fff; */
    border-radius: var(--r-circle);
    /* border: 3px solid var(--border-color-dark-yellow); */
    max-width: 150px;
    /* height: 80px; */
}

.icon{
    width: 100%;
    height: auto;
}

.btn-subject{
    color: var(--color-white);
    background-color: var(--bg-color-medium-grey);
    width: 170px;
    height: 30px;
    font-size: 1.4rem;
    text-align: center;
}

/* ////////// SECTION FUNCTION ////////// */

.section-function{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.functions-container{
    max-width: 1400px;
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.function-container-first{
    border-radius: var(--r-box);
    background-color: var(--bg-color-light-creamy);
    padding: 40px;
}

.function-box-first{
    width: 100%;
    display: flex;
}

.function-box-first .subheading-container{
    padding: 20px 40px;
    width: 60%;
}

.img-function-container{
    margin: 20px;
}

.function-container-second{
    padding: 0 40px 0 80px;
}

.function-box-second{
    background-color: var(--color-white);
}